nextjs-portal {
    display: none;
}

/* styles/fonts.css */

.retro-font {
    font-family: 'Retro Font', cursive;
    src: local('retrofont'),
        url('../public/fonts/VCR_OSD_MONO_1.001.ttf') format('ttf'),
}

@font-face {
    font-family: 'Retro-Font';
    src: local('retrofont'),
        url('/public/fonts/VCR_OSD_MONO.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CommuneFont';
    src: url('../frontend/public/fonts/Fontspring-DEMO-articulatcf-bold-BF64a38d89ce81e.otf') format('otf'),
        url('../frontend/public/fonts/Fontspring-DEMO-articulatcf-normal-BF64a38d8b0cbaf.otf') format('otf'),
        url('../frontend/public/fonts/fonts/Fontspring-DEMO-articulatcf-heavy-BF64a38d8b25524.otf') format('otf');
    /* Add other font properties as needed */
    font-family: 'RetroFont';
    src: url('../public/fonts/VCR_OSD_MONO_1.001.ttf') format('ttf')
}

.card-validator-heading {
    @apply text-sm leading-6 font-medium tracking-tight flex items-center gap-x-2 text-textSecondary;
}

body {
    font-family: 'CommuneFont', sans-serif, 'Retro-Font';
}

#card {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;