@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-footer-background-color: #303846;
  --ifm-color-secondary: #ebedf0;
  --ifm-color-primary: #25c2a0;
  --ifm-color-white: #fff;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 14, 23, 42;
  --background-end-rgb: 8, 8, 8;
  --ifm-font-family-base: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ifm-h1-font-size: 2rem;
  --ifm-heading-color: inherit;
  --ifm-font-weight-bold: 700;
  --ifm-heading-line-height: 1.25;
  --ifm-heading-font-weight: var(--ifm-font-weight-bold);
  --ifm-heading-margin-top: 0;
  --ifm-global-spacing: 1rem;
  --ifm-spacing-vertical: var(--ifm-global-spacing);
  --ifm-heading-margin-bottom: var(--ifm-spacing-vertical);
  --ifm-leading-desktop: 1.25;
  --ifm-leading: calc(var(--ifm-leading-desktop) * 1rem);
  --ifm-paragraph-margin-bottom: var(--ifm-leading);
  --ifm-list-margin: 1rem;
  --ifm-transition-fast: 200ms;
  --ifm-transition-timing-default: cubic-bezier(0.08, 0.52, 0.52, 1);
  --ifm-link-color: var(--ifm-color-primary);
  --ifm-link-hover-color: var(--ifm-link-color);
  --ifm-link-decoration: none;
  --ifm-link-hover-decoration: underline;
  --ifm-navbar-item-padding-horizontal: 0.75rem;
  --ifm-navbar-item-padding-vertical: 0.25rem;
  --ifm-color-gray-200: #ebedf0;
  --ifm-global-radius: 0.4rem;
  --ifm-global-shadow-md: 0 5px 40px rgba(0, 0, 0, 0.2);
  --ifm-list-left-padding: 2rem;
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --ifm-code-font-size: 90%;
}

:root {
  font-size: 16px;
}

@media (max-width: 1799px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1599px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 1199px) {
  :root {
    font-size: 10px;
  }
}

[data-theme='light'] {
  --theme-text-color: rgb(28, 30, 33);
  --theme-border-color: rgb(28, 30, 33);
  --theme-background-color: #FFF;
}

[data-theme='dark'] {
  --theme-text-color: rgb(227, 227, 227);
  --theme-border-color: rgb(227, 227, 227);
  --theme-background-color: #242526;
}

* {
  font-family: var(--ifm-font-family-base);
  border-color: var(--theme-border-color);
}

svg {
  color: unset;
  border-color: unset;
}

h1 {
  font-size: var(--ifm-h1-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ifm-heading-color);
  font-family: var(--ifm-font-family-base);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}

p {
  margin: 0 0 var(--ifm-paragraph-margin-bottom);
}

ul,
ol {
  margin: 0 0 var(--ifm-list-margin);
  padding-left: var(--ifm-list-left-padding);
}

div[data-theme="dark"] {
  background-color: #181a1b;
}

[data-theme="dark"] pre,
[data-theme="dark"] code {
  background-color: #1c1e1f;
  color: white;
}

body,
body>div:first-child {
  min-height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'VCR_OSD_MONO';
  src: local('VCR_OSD_MONO'), url('../../public/fonts/VCR_OSD_MONO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.fontStyle {
  font-family: 'VCR_OSD_MONO', sans-serif;
}