
[submodule "frontend"]
	path = frontend
	url = https://github.com/commune-ai/frontend
	branch = docs
[submodule "subspace"]
	path = subspace
	url = https://github.com/commune-ai/subspace.git
	branch = main
	
# the repos below are not used in the current version of the code
[submodule "diffusers"]
	path = repo/diffusers
	url = https://github.com/commune-ai/diffusers.git
	branch = main
[submodule "bittensor"]
	path = repo/bittensor
	url = https://github.com/opentensor/bittensor.git
	branch = master
[submodule "trl"]
	path = trl
	url = https://github.com/lvwerra/trl
[submodule "transformers"]
	path = repo/transformers
	url = https://github.com/huggingface/transformers.git
[submodule "subtensor"]
	path = repo/subtensor
	url = https://github.com/opentensor/subtensor
[submodule "telemetry"]
	path = telemetry
	url = https://github.com/commune-ai/telemetry.git
