[submodule "subspace"]
	path = subspace
	url = https://github.com/commune-ai/subspace.git
[submodule "commune/repos/transformers"]
	path = commune/repos/transformers
	url = https://github.com/commune-ai/transformers.git
[submodule "commune/repos/diffusers"]
	path = commune/repos/diffusers
	url = https://github.com/commune-ai/diffusers.git
[submodule "commune/repos/trl"]
	path = commune/repos/trl
	url = https://github.com/commune-ai/trl.git
[submodule "commune/repos/llama-cpp-python"]
	path = commune/repos/llama-cpp-python
	url = https://github.com/abetlen/llama-cpp-python.git
