version: "3.2"

services:
  commune:
    network_mode: host
    container_name: commune
    build: ./
    shm_size: '20gb'
    environment:
      - RAY_PORT=6378
    volumes:

      # COMMUNE 
      - ./commune:/app/commune

      # LOCAL COMMUNE MOUNTS
      - ./Makefile:/app/Makefile 
      - ./setup.py:/app/setup.py
      - ./requirements.txt:/app/requirements.txt
      - ./README.md:/app/README.md
      - ./LICENSE:/app/LICENSE
      - ./scripts:/app/scripts

      # DOCKER MOUNTS TO CONTROL DOCKER FROM WITHIN THE CONTAINER
      - /var/run/docker.sock:/var/run/docker.sock # MOUNT THE DOCKER SOCKET
      - /usr/bin/docker:/usr/bin/docker # MOUNT THE DOCKER BINARY
      
      # FILE SYSTEM MOUNTS
      - /home/ubuntu/efs:/efs # MOUNT THE EFS
      - /tmp:/tmp # MOUNT THE TEMPORARY FILE


      # EXTERNAL LIBRARIES (CURRENTLY COMMENTED OUT AND NOT USED)

      # # BITTENSOR
      # - ./bittensor/bittensor:/app/bittensor/bittensor
      # - ~/.bittensor:/root/.bittensor

      # # DIFFUSERS
      # - ./diffusers/diffusers:/app/diffusers/diffusers

      # #LANGCHAIN
      # - ./langchain/langchain:/app/langchain/langchain
      # #OCEAN
      # - ./ocean.py/ocean_lib:/app/ocean.py/ocean_lib


      
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    command: bash -c "cd /app; chmod +x /app/scripts/*;/app/scripts/startup.sh;"

  
