---
version: "2.1"
services:
  commune:
    build:
      context: ./
      dockerfile: Dockerfile-code-server
    container_name: commune
    shm_size: '1gb' # for the shared memory size
    volumes:
      - ~/.commune:/config/.commune
      - ~/.commune:/root/.commune
      - ./:/commune
      #- /var/run/docker.sock:/var/run/docker.sock #Nuclear option
    ports:
      - 50150:5000
    restart: unless-stopped