
#api
uvicorn
fastapi
# web3
substrate-interface
# ml
torch
datasets
transformers
diffusers
safetensors
accelerate
#visual tools
streamlit
plotly
gradio
# ray
# ray[default]
# ray[tune]
#logging
loguru
rich
aiofiles
aiohttp
nest_asyncio

#misc
msgpack_numpy
ansible
retry
psutil
munch
ansible
grpcio
grpcio-tools
sse-starlette
