uvicorn
fastapi
substrate-interface
torch
datasets
transformers
diffusers
safetensors
accelerate
#visual tools
streamlit
plotly
gradio
sse-starlette
#misc
msgpack_numpy
retry
psutil
munch
ansible
grpcio
grpcio-tools
openai
scipy
loguru
rich
aiofiles
aiohttp
nest_asyncio

# scraping
beautifulsoup4
httplib2
urllib3
# ray
# ray[default]
# ray[tune]
# logging

# Module for text2speech
fairseq2
huggingface_hub
torchaudio

# Module for captcha
capmonstercloudclient
