###### Bare Minimum ######


# blockchain
substrate-interface

# Server Side Events - for streaming back
sse-starlette

msgpack_numpy
retry
psutil
munch

loguru
rich
aiofiles
aiohttp
nest_asyncio

scipy
fastapi
gradio
grpcio
grpcio-tools
plotly
streamlit



########################

torch