/*
This CSS file is modified from:
https://huggingface.co/spaces/DeepFloyd/IF/blob/main/style.css
*/

h1 {
  text-align: center;
}

.gradio-container {
  font-family: 'IBM Plex Sans', sans-serif;
}

.gr-button {
  color: white;
  border-color: black;
  background: black;
}

input[type='range'] {
  accent-color: black;
}

.dark input[type='range'] {
  accent-color: #dfdfdf;
}

.container {
  max-width: 730px;
  margin: auto;
}


.gr-button:focus {
  border-color: rgb(147 197 253 / var(--tw-border-opacity));
  outline: none;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-border-opacity: 1;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px var(--tw-ring-offset-width)) var(--tw-ring-color);
  --tw-ring-color: rgb(191 219 254 / var(--tw-ring-opacity));
  --tw-ring-opacity: .5;
}

.gr-form {
  flex: 1 1 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#prompt-container {
  gap: 0;
}

#prompt-text-input,
#negative-prompt-text-input {
  padding: .45rem 0.625rem
}

/* #component-16 {
  border-top-width: 1px !important;
  margin-top: 1em
} */

.image_duplication {
  position: absolute;
  width: 100px;
  left: 50px
}

#component-0 {
  max-width: 730px;
  margin: auto;
  padding-top: 1.5rem;
}
#share-btn-wrapper{background-color: transparent;border: 0;margin-top: -10px}
#share-btn-wrapper .styler{background-color: transparent}
#share-btn-container{padding-left: 0.5rem !important; padding-right: 0.5rem !important; background-color: #000000; justify-content: center; align-items: center; border-radius: 9999px !important; max-width: 13rem; margin-left: auto;}
div#share-btn-container > div {flex-direction: row;background: black;align-items: center}
#share-btn-container:hover {background-color: #060606}
#share-btn {all: initial; color: #ffffff;font-weight: 600; cursor:pointer; font-family: 'IBM Plex Sans', sans-serif; margin-left: 0.5rem !important; padding-top: 0.5rem !important; padding-bottom: 0.5rem !important;right:0;font-size: 15px;}
#share-btn * {all: unset}
#share-btn-container div:nth-child(-n+2){width: auto !important;min-height: 0px !important;}
#share-btn-container .wrap {display: none !important}
#share-btn-container.hidden {display: none!important}