div.row-widget.stRadio > div {
    flex-direction: row;
    align-items: stretch;
   }
   
   div.row-widget.stRadio > div[role="radiogroup"] > label[data-baseweb="radio"]  {
    background-color: #194574;
    padding-right: 10px;
    padding-left: 4px;
    padding-bottom: 3px;
    margin: 4px;
   }
div.row-widget.stRadio > div[role="radiogroup"] > label[data-baseweb="radio"] > input[type="radio"]:checked + div {
    background-color: #194574;
    }

div.stButton button {
        background-color: rgb(226, 25, 31);
        width: 100%;
        color : #fef1f1;
        border: 5px solid rgb(255, 255, 255);
        font-size: 50px;
        font-weight: 200;
    }
