.navbar {
    /* position: sticky; */
    top: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    background-color: var(--theme-background-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: 0.5rem 1rem;
    z-index: 2;
}

.items {
    align-items: center;
    display: flex;
    flex: 1;
    min-width: 0;
    cursor: pointer;
}

.itemsRight {
    flex: 0 0 auto;
    justify-content: flex-end;
}

.item,
.link {
    font-size: 28px;
    font-weight: 500;
    transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
    padding: var(--ifm-navbar-item-padding-vertical) var(--ifm-navbar-item-padding-horizontal);
}

.item:hover,
.link:hover {
    color: var(--ifm-link-hover-color);
}

@media (max-width: 768px) {
    .navbar {
        position: static;
        top: auto;
        flex-direction: column;
    }

    .items,
    .itemsRight {
        flex-direction: column;
        width: 100%;
    }

    .item,
    .link {
        font-size: 14px;
    }
}

.brand {
    height: 2.5rem;
    align-items: center;
    display: flex;
    margin-right: 1rem;
    min-width: 0;
    color: black;
    text-decoration: var(--ifm-link-decoration);
    font-size: 16px;
    padding: 0rem;
    transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.brand:hover,
.active {
    color: var(--ifm-link-hover-color);
}

.modules:hover,
.activeModules {
    color: #dc4b4b;
}

.docs:hover,
.activeDocs {
    color: #6a4bdc;
}

.whitepaper:hover,
.activeWhitepaper {
    color: #d2d522;
}

.logo {
    flex: 0 0 auto;
    margin-right: 0.5rem;
}

.dropdown {
    position: relative;
    vertical-align: top;
}

.dropdownMenu {
    left: inherit;
    right: 0;

    background-color: #fff;
    border-radius: var(--ifm-global-radius);
    box-shadow: var(--ifm-global-shadow-md);
    left: 0;
    list-style: none;
    max-height: 80vh;
    min-width: 10rem;
    opacity: 0;
    overflow-y: auto;
    padding: 0.5rem;
    pointer-events: none;
    position: absolute;
    top: calc(100% - var(--ifm-navbar-item-padding-vertical) + 0.3rem);
    transform: translateY(-0.625rem);
    visibility: hidden;
    z-index: var(--ifm-z-index-dropdown);
    transition-property: opacity, transform, visibility;
    transition-duration: var(--ifm-transition-fast);
    transition-timing-function: var(--ifm-transition-timing-default);
}

.dropdown:hover .dropdownMenu {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-1px);
    visibility: visible;
}

.dropdown .link::after {
    border-color: currentColor transparent;
    border-style: solid;
    border-width: 0.4em 0.4em 0;
    content: '';
    display: inline-block;
    margin-left: 0.3em;
    position: relative;
    top: 2px;
    transform: translateY(-50%);
}

.dropdownLink {
    border-radius: 0.25rem;
    color: var(--ifm-dropdown-link-color);
    display: block;
    font-size: 0.875rem;
    margin-top: 0.2rem;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
}

.dropdownLink:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.themeTogglerWrapper {
    width: 2rem;
    height: 2rem;
}

@font-face {
    font-family: 'VCR_OSD_MONO';
    src: local('VCR_OSD_MONO'), url('../../../../public/fonts/VCR_OSD_MONO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fontStyle {
    font-family: 'VCR_OSD_MONO', sans-serif;
}