.cardClass {
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.ant-select-selection-item {
    font-size: 40px !important;
    color: red;
    background-color: red;
}

.ant-select-selection-item .ant-select-selection-item-content .ant-select-selection-overflow-item .ant-select-selection-overflow {
    height: 100% !important;
}

@font-face {
    font-family: 'VCR_OSD_MONO';
    src: local('VCR_OSD_MONO'), url('../../../../../public/fonts/VCR_OSD_MONO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fontStyle {
    font-family: 'VCR_OSD_MONO', sans-serif;
}