
.item {
    background-color: #F5F5F5;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}
.item-title {
    font-size: 2rem;
    top: 10px;
    font-weight: bold;
    color: #050105;
}


.status-indicator {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.online {
    background-color: green;
    color: white;
}

.offline {
    background-color: red;
    color: white;
}

.item.expanded {
    background-color: #efb52d;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.item.expanded {
    width: 200%;
    height: 200%; /* expands the item when clicked */
}

.item-header {
    width: 100%;
    text-align: center;
}

.item-description {
    width: 100%;
    text-align: center;
    padding: 10px;
}



.attributes {
    position: absolute;
    bottom: 20px;
    left: 20px;

    display: flex;
    flex-wrap: wrap;
}
.attributes-container {
    width: 100%;
    margin-top: 30px;
    left : 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

}
.attribute-tag {
    background-color: #ffccff;
    color: #050105;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 1rem;
}