.marketplace {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E9F9FF;
    padding: 40px;
    height: 1200%;
}



.marketplace-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marketplace-title-text {
    font-size: 2rem;
    color: #050105;
}

.marketplace-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab {
    font-size: 1.2rem;
    color: #050105;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #050105;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.tab:hover {
    background-color: #efb52d;
    border: 3px solid #050105;
}

.tab.selected {
    background-color: #050105;
    color: #3298bd;
}

.marketplace-items-container {
    margin-top: 40px;
}

.marketplace-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
.marketplace-items-container {
    position: relative;
}

.marketplace-items-container {
    display: flex;
    flex-wrap: wrap;
}


.marketplace-item {
    background-color: #F5F5F5;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}
.marketplace-item.expanded {
    background-color: #efb52d;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
/* 
.marketplace-item.expanded {
    transform: scale(1.5);
    z-index: 10;
} */
/* 
.marketplace-item.expanded {
    border-width: 5px;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.marketplace-item {
    background-color: #F5F5F5;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    } */
.marketplace-item.expanded {
    width: 200%;
    height: 200%; /* expands the item when clicked */
}
.marketplace-item img {
    width: 100px;
    height: 100px;
    }
    
    .marketplace-item h3 {
    margin-top: 20px;
    color: #050105;
    font-size: 1.2rem;
    }
    
    
.marketplace-items-container {
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: 10px;
}
    

.handle-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.handle-bar-tabs {
    display: flex;
}

.dropdown {
    
    position: relative;
    cursor: pointer;
}

.dropdown-title {
    
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid black;
}
.dropdown-title:hover {
    border: 3px solid #050105;
}


.dropdown-content {
    display: none; /* by default, the content is hidden */
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0);
    z-index: 1;
    padding: 12px 16px;
    background-color: #f0bef6;
    

}
.dropdown-content:hover {
    border: 3px solid #050105;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    width: 100%; 
    display: block;
    /* border: 3px solid #050105; */

}

.dropdown-content.open {
    display: block; /* when the dropdown is open, the content is visible */
}
