.three-d-button {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /* background-color: #007bff; */
    border: none;
    border-radius: 4px;
    cursor: pointer;   
    animation: shake 0.8s infinite;
  }
  
  @keyframes shake {
    0% {
      transform: translateY(0);
    }
    /* 20% {
      transform: translateY(-5px) rotateY(-5deg);
    } */
    50% {
      transform: translateY(5px) rotateY(5deg);
    }
    /* 60% {
      transform: translateX(-5px) rotateY(-5deg);
    } */
    /* 80% {
      transform: translateX(5px) rotateY(5deg);
    } */
    100% {
      transform: translateY(0);
    }
  }