.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    background: repeating-linear-gradient(45deg, mediumspringgreen, mediumspringgreen 10px, aquamarine 10px, aquamarine 20px);
}


.banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
}

.discordLink {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.closeButton {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .banner {
        font-size: 14px;
    }
}


.wrapper a {
    text-decoration: underline;
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50px;
    opacity: 0.5;
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
}

.closeButton:hover {
    opacity: 1;
}
