.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
  overflow: auto;
  z-index: 2;
}

.popup {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  width: min-content;
  overflow: auto;
  margin: auto;
  padding: 1rem;
  cursor: default;
}
